.container{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(1, 1fr);
    margin: 5rem;
    align-content: space-between;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
}

.module{
    text-align: center;    
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem 1rem rgb(198, 207, 214);
}

.module__hendding{
    padding: 1rem;
    text-align: center;
}

.module__text{
    margin-left: 1rem;
    height: 6rem;
}

.module__link{
    text-transform: uppercase;
    font-size: 1.4rem;
}

hr{
    width: 20%;
}

body{
    background-color: rgb(230, 239, 246);
}